services:
  nginx:
    image: nginx:latest
    container_name: todo-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - postgres-network
    depends_on:
      - frontend
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: todo-backend
    restart: always
    ports:
      - "3000:3000"
    networks:
      - postgres-network
    environment:
      DATABASE_URL: "postgres://postgres:password@db:5432/tododb?schema=public"
    depends_on:
      - db
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: todo-frontend
    restart: always
    ports:
      - "5173:5173"
    networks:
      - postgres-network
    depends_on:
      - backend
  db:
    image: postgres:13
    container_name: todo-db
    restart: always
    networks:
      - postgres-network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tododb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

networks:
  postgres-network:
    driver: bridge
volumes:
  pgdata: